<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net461" />
  <package id="RestBus.Client" version="0.5.2" targetFramework="net461" />
  <package id="RestBus.Common" version="0.6.3" targetFramework="net461" />
  <package id="RestBus.RabbitMQ" version="0.6.9" targetFramework="net461" />
  <package id="RestBus.WebApi" version="0.5.8" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.106.0" targetFramework="net461" />
</packages>